APP_ENV=dev

AUTH_ENABLED=true
AUTH_USERNAME=admin
AUTH_PASSWORD=admin123456
# AUTH_SECRET=
AUTH_TOKEN_EXPIRE_HOURS=12

DIALOGUE_MODEL_DEFAULT_KEY=deepseek_v4_flash_w8a8_mtp
# DIALOGUE_LLM_API_KEY=
DIALOGUE_LLM_TEMPERATURE=0.3
DIALOGUE_LLM_MAX_TOKENS=4096
DIALOGUE_LLM_TIMEOUT=60
DIALOGUE_LLM_MAX_RETRIES=1
DIALOGUE_MODEL_QWEN_35B_A3B_BASE_URL=http://172.16.9.20:30081/ccb44b4cfe18439f8affd07babd0810e/v1
DIALOGUE_MODEL_DEEPSEEK_V4_FLASH_W8A8_MTP_BASE_URL=http://172.16.9.20:30081/132bc0947fc64cc79e22618a60394789/v1
DIALOGUE_MODEL_QWEN_35B_A3B_64K_BASE_URL=http://172.16.9.20:30081/f6f71ef40c934f75920fb8decd6db721/v1
DIALOGUE_MODEL_GLM_5_1_W8A8_A3_BASE_URL=http://172.16.9.20:30081/71d0b4e30d7a4fc19661f9409721493d/v1

MONGODB_HOST=127.0.0.1
MONGODB_PORT=27017
MONGODB_USERNAME=admin
MONGODB_PASSWORD=password123
MONGODB_DATABASE=spec_agent

RABBITMQ_HOST=127.0.0.1
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=admin
RABBITMQ_PASSWORD=password123
RABBITMQ_VHOST=/
CELERY_TASK_QUEUE=spec_agent

NMR_SERVER_BASE_URL=http://127.0.0.1:8080
LCMS_INFER_URL=http://127.0.0.1:9999/infer
RAMAN_CAPTURE_INSTRUMENT_IP=47.113.220.254
RAMAN_CAPTURE_CALLBACK_URL=http://127.0.0.1:8099/raman/jy/callback
RAMAN_CAPTURE_SUBMIT_PORT=7001
RAMAN_CAPTURE_RESULT_PORT=7002

SPEC_AGENT_RUNTIME_ROOT=.runtime
SPEC_AGENT_UPLOAD_ROOT=.runtime/uploads
SPEC_AGENT_OUTPUT_ROOT=.runtime/outputs
SPEC_AGENT_LOG_ROOT=.runtime/logs

SPECTRUM_FILES_ROOT=/data/spectrum_files

LCMS_MSCONVERT_MODE=auto
# Windows 示例: C:/Program Files/ProteoWizard/ProteoWizard 3.0.xxxxx/msconvert.exe
# LCMS_MSCONVERT_PATH=
LCMS_MSCONVERT_DOCKER_BIN=docker
LCMS_MSCONVERT_DOCKER_IMAGE=proteowizard/pwiz-skyline-i-agree-to-the-vendor-licenses
# LCMS_MSCONVERT_SHARED_ROOT=/tmp/spec-agent-lcms-convert
