APP_ENV=dev

LLM_MODEL=deepseek-chat
# LLM_API_KEY=
LLM_BASE_URL=https://api.agicto.cn/v1
LLM_TEMPERATURE=0.7
LLM_MAX_TOKENS=8192
LLM_TIMEOUT=60
LLM_MAX_RETRIES=2

MONGODB_HOST=100.84.59.58
MONGODB_PORT=27018
MONGODB_USERNAME=admin
MONGODB_PASSWORD=password123
MONGODB_DATABASE=spec_agent

RABBITMQ_HOST=100.84.59.58
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=admin
RABBITMQ_PASSWORD=password123
RABBITMQ_VHOST=/
CELERY_TASK_QUEUE=spec_agent

NMR_SERVER_BASE_URL=http://100.84.59.58:8080
LCMS_INFER_URL=http://100.84.59.58:9999/infer

SPECTRUM_FILES_ROOT=E:\spectrum_files
