fastapi==0.116.1
uvicorn[standard]==0.35.0
concurrent-log-handler==0.9.28
python-multipart==0.0.20
requests>=2.32.5
pydantic==2.11.7
celery==5.5.3
pymongo==4.14.1
python-dotenv==1.2.1
numpy>=2.4.1
pandas>=2.3.3
pyteomics>=4.7.5
scipy>=1.17.0
matplotlib>=3.10.8
plotly>=6.5.2
PyYAML>=6.0
paramiko>=4.0.0
torch==2.10.0
transformers==5.1.0
langgraph>=0.4.8
langchain>=1.2.4
langchain-openai>=1.1.7
nmrglue==0.11
pymupdf==1.26.7
rdkit==2025.3.5
concurrent_log_handler==0.9.28
pyteomics==4.7.5
lxml==6.1.1
pytest>=9.0.3
