fastapi==0.116.1
uvicorn[standard]==0.35.0
python-multipart==0.0.20
pydantic==2.11.7
celery==5.5.3
pymongo==4.14.1
python-dotenv==1.2.1
numpy>=1.26
pandas>=2.2
scipy>=1.12
matplotlib>=3.8
plotly>=5.24
PyYAML>=6.0
torch>=2.4
transformers>=4.45
langgraph>=0.2
langchain-core>=0.3
langchain-openai>=0.3
nmrglue>=0.11
pymupdf>=1.24
thop>=0.1.1.post2209072238
requests>=2.31
rdkit>=2024.9.1
